h1{
    text-align: center;
    font-size: 25px;
}

.todo-wrapper{
max-width: 400px;
width: 100%;
margin: 0 auto;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-top: 18px;
    padding-left:10px;
    padding-right: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #333;

}
.todo-item span{
    font-weight: bold;
    clear: #333;
}

input[type=checkbox]{
   margin-right: 10px;
   cursor: pointer;
}

button{
    cursor: pointer;
    background: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    height: 25px;
    width: 25px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done{
    text-decoration: line-through;
}

.empty{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
}

form{
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 35px;
}

form input{
    display: block;
    margin-top: 10px;
    height: 20px;
}
form input:nth-child(2){
    max-width: 200px;
    height: 35px;
    margin: 10px auto;
    width: 100%;
    cursor: pointer;
}